#login {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    /* padding: auto; */
    border: 1px solid black;
}

#loginUserName{
    flex-direction: row;
}

#loginButton {
    margin: auto;
}